@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bungee+Inline&family=Fredericka+the+Great&family=Herr+Von+Muellerhoff&family=Kristi&family=Qwigley&family=Rubik+Moonrocks&family=Rye&family=Yesteryear&Akronim&family=Big+Shoulders+Inline+Text:wght@100&family=Codystar:wght@300&family=Fascinate+Inline&family=Londrina+Outline&family=Molle&family=Monofett&family=Piedra&family=Press+Start+2P&family=Raleway+Dots&family=Rubik+Gemstones&family=Rubik+Storm&family=Vast+Shadow&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --shadowBlack: #1B1610;
  --ebony: #080402;
  --stainlessSteel: #CFD4D9;
  --smokyBlack: #100C08;
  --Licorice: #1A1110;
  --coolBlack: #151922;
  --midNight: #040406;
  --treasureColor: #313C05;
  --darkLemon: #161B02;
  --boxShadow: 0.1rem 0.3rem rgba(0, 0, 0, .1);
}

.FloatRight {
  float: right !important;
}

.DarkGreen {
  color: var(--darkLemon) !important;
}

.Treasure {
  font-family: 'Bowlby One SC', sans-serif;
  color: var(--stainlessSteel);
}

.App {
  min-height: 90vh;
  background: #EDEDED;
  color: var(--shadowBlack);
}

.NavigationBar {
  margin: 0;
  padding: 0;
  background-color: var(--darkLemon) !important;
  color: var(--lighterBrownish) !important;
  min-height: 10vh;
}

.CenterSearchBar {
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .App {
    min-height: 100vh;
  }
}

.Footer {
  background: var(--darkLemon);
  color: var(--stainlessSteel);
}

.ButtonColor {
  background: var(--darkLemon) !important;
  outline: none !important;
  border: none !important;
}

.ButtonToLink {
  background: transparent !important;
  outline: none !important;
  color: blue !important;
  text-decoration: underline !important;
  border: none !important;
  padding: 0 5px !important;
  margin: 0 !important;
  float: right !important;
  cursor: pointer;
}

.DeLink {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  outline: none !important;
  text-decoration: none;
  cursor: pointer;
}